{{#> layout}}
{{#*inline "content"}}
<div class="container-fluid">
    <form action="/users/create" method="POST">
        <input type="text" name="username"/>
        <input type="password" name="password"/>

        <button type="submit">Submit</button>
    </form>
</div>
{{/inline}}
{{/layout}}