{{define "base"}}
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    </head>

    <body>
        <nav class="navbar bg-dark pb-0 pt-0">
            <a class="navbar-brand text-white fs-2 fst-italic text-decoration-none mx-2" href="/">3D2A</a>
            <div class="flex-1"></div>
            <a href="/sign_up">
                <button class="btn btn-success rounded-1 mx-2">Create Account</button>
            </a>
        </nav>

        {{template "content" .}}
    </body>
</html>
{{end}}